:host {
    display: block;
    background-color: #605c5c;
    
    .heroes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 30px;
        min-height: calc(100vh - 65px);
        gap: 50px;
    }
}