div {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #7a0808;
    border-radius: 10px;
    transition: all .2s ease-in-out;

    &:not(.small):hover {
        transform: scale(1.05);
        background-color: #670707;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }

    img {
        width: 100px;
        height: 140px;
        border-radius: 10px 0 0 10px;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        text-align: center;
        padding: 0 10px;
    }

    &.small p {
        width: 180px;

        @media (max-width: 1350px) {
            width: 130px;
        }
    }

    .score {
        position: absolute;
        right: 0;
        bottom: 6px;
        font-size: 13px;
    }
}