:host {
    display: block;
    background-color: #605c5c;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        min-height: calc(100vh - 65px);
    }

    header {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .filters {
            display: flex;
            column-gap: 40px;

            > div {
                display: flex;
                align-items: center;
                column-gap: 20px;
            }
        }

        div:last-of-type {
            position: relative;

            button {
                height: 40px;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                text-align: start;
                border: none;
                color: #7a0808;
                cursor: pointer;
                transition: all .2s ease-in;
                background-color: #f0f0f0;
                padding: 0 40px 0 10px;
                border-radius: 5px;
    
                &:hover {
                    background-color: #cacaca;
                }
            }
    
            img {
                position: absolute;
                right: 8px;
                top: 8px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

    }
    
    .heroes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 30px 0px;
        gap: 50px;

        @media (max-width: 1230px) {
            grid-template-columns: 300px 300px 300px;
            justify-content: center;
        }
    }

    .no-results {
        text-align: center;
    }
}